.spotImg {
    /* height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 5%; */
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
}

h2 {

}

.spotDetails {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: flex-start;
}

.spotImg{
    /* width: 50%; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
}

.spotRootDiv {
    width: 100vw;
}
