#spotImg {
    /* height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 5%; */
    width: 100%;
height: 450px;
object-fit: cover;
border-radius: 10px;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    /* object-fit: cover; */
    /* height: 50%; */
}

.spotOwnerDesc h4{
border-bottom: 1px solid #808080;
padding-bottom: 10px;
}

.spotDetails {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: center;
}

#spot-details-inner{
    width:80vw;
}
#spot-details-inner h2{
    margin: 5px 0;
}
#spot-address{
    margin: 0;
}

.spotImg{
    /* width: 50%; */
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
    border-radius: 5%;
    border: solid red;
    height: 50%;
}

.spotRootDiv {
    width: 100vw;
}

#spot-information{
    border: 1px solid #808080;
    width:25%;
    padding: 20px;
}

#page-bottom-container{
    display: flex;
    justify-content: space-between;
}
