.hidden {
    display: none;
}

.navButtonHome {
    height:35px;
    border: none;
    border-radius: 17px;
    padding: 0 16px;
    cursor: pointer;
    background-color: transparent;
}

.navButtonHome:hover {
    background-color: #f0f0f0;
}

.navButtonProfile {
    border-radius: 5px;
    align-items: flex-end;
    list-style: none;
}

.profileButton {
    cursor: pointer;
border: 5px solid green;
color: green;
}
.profile-dropdown {
    position:absolute;
    top: 85px;
    right: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px black;
    padding: 15px;
}

.profile-dropdown li {
    list-style: none;
    padding: 10px 0;
    list-style-type: none;
}

#permanentNavBar {
    display: flex;
justify-content: space-between;
    border-bottom: solid grey 1px;
    margin-bottom: 15px;
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 0 30px;
}
#permanentNavBar a {
    text-decoration: none;
    color: #ff385c;
}

.create-spot {
    cursor: pointer;
    align-items: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 15px;
    display: inline-flex;
    border: 1px solid;
    border-radius: 4px;
    margin-right: 5%;
    border: 3px solid orange;
}

.openMenuButton {
display: flex;
align-items: center;
justify-content: center;
width: 60px;
height: 35px;
border-radius:17px;
border: none;

}

.openMenuButton:hover {
    box-shadow: 0px 2px 6px black;
}

#nav-buttons {
    display: flex;
    align-items:center;
}

#house-breeze {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

#house-breeze i {
font-size: 23px;
}

.linksHeader {
    display: flex;
    align-items: center;
}

.linksHeader div {
    margin: 1vw;
}
